In [55]:
import pandas as pd

In [1]:
from rightmove_webscraper import RightmoveData
url = 'https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E61325&maxBedrooms=10&minBedrooms=2&propertyTypes=&includeSSTC=false&mustHave=&dontShow=retirement%2CsharedOwnership&furnishTypes=&keywords=' 
rm = RightmoveData(url)

In [2]:
rm.average_price

1309292.8466666667

In [3]:
rm.results_count

1050

In [4]:
df = rm.get_results

In [5]:
rm.summary()

   number_bedrooms  count          mean
0                2     22  4.347682e+05
1                3     75  1.000598e+06
2                4    319  1.121521e+06
3                5    368  1.363759e+06
4                6    161  1.592512e+06
5                7     39  1.905383e+06
6                8     16  2.562500e+06
7                9     16  2.604375e+06
8               10      3  3.716667e+06

In [6]:
df.head()

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
0,320000.0,2 bedroom detached bungalow for sale,"Harmers Hay Road, Hailsham",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2.0,2020-07-11 14:33:57.527045
1,NaN,9 bedroom house for sale,"Marley Heights, Haslemere",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,9.0,2020-07-11 14:33:57.527045
2,NaN,9 bedroom detached house for sale,"Marley Heights, Haslemere, Surrey, GU27",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,GU27,9.0,2020-07-11 14:33:57.527045
3,7500000.0,9 bedroom detached house for sale,"Marley Common, Haslemere, Surrey, GU27",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,GU27,9.0,2020-07-11 14:33:57.527045
4,6500000.0,10 bedroom detached house for sale,"Selham, Petworth, West Sussex, GU28",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,GU28,10.0,2020-07-11 14:33:57.527045

In [7]:
df = df.drop(['url','agent_url', 'search_date'], axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            1023 non-null   float64
 1   type             1050 non-null   object
 2   address          1050 non-null   object
 3   postcode         538 non-null    object
 4   number_bedrooms  1046 non-null   float64
dtypes: float64(2), object(3)
memory usage: 41.1+ KB

In [9]:
# Get rid of data with no price or no bedrooms

df = df[df.price == df.price]
df = df[df.number_bedrooms == df.number_bedrooms]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1019 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            1019 non-null   float64
 1   type             1019 non-null   object
 2   address          1019 non-null   object
 3   postcode         519 non-null    object
 4   number_bedrooms  1019 non-null   float64
dtypes: float64(2), object(3)
memory usage: 47.8+ KB

In [10]:
rm.summary(by='postcode')

   postcode  count          mean
0       BN3     42  1.293807e+06
1       BN1     38  1.307237e+06
2       BN2     27  1.294074e+06
3      RH20     24  1.515417e+06
4      PO20     23  1.409565e+06
..      ...    ...           ...
59     BN10      1  3.949950e+05
60     TN37      1  8.600000e+05
61      GU8      1  1.295000e+06
62     BN45      1  9.500000e+05
63     BN42      1  1.500000e+06

[64 rows x 3 columns]

In [11]:
import seaborn as sns

sns.set(style="whitegrid")
sns.set(rc={'figure.figsize':(15,10)})
ax = sns.barplot(x="postcode", y="mean", data=rm.summary(by='postcode') )

/Users/patrickfahy99/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [51]:
df.reset_index(inplace = True)

In [62]:
for i in range(len(df)):
    if df.postcode[i] != df.postcode[i]:
        address_query = df.address[i]
        params = {"api_key": "ak_kci4h4arEquRAiUfXgwIz0L3WCiV7", "query": address_query}

        conn = http.client.HTTPSConnection("api.ideal-postcodes.co.uk:443")
        conn.request("GET", "/v1/addresses?%s" % urllib.parse.urlencode(params))

        addresses = json.load(conn.getresponse())['result']
        df.postcode[i] = addresses['hits'][0]['postcode'].split()[0]

/Users/patrickfahy99/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            1019 non-null   int64
 1   price            1019 non-null   float64
 2   type             1019 non-null   object
 3   address          1019 non-null   object
 4   postcode         1019 non-null   object
 5   number_bedrooms  1019 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.9+ KB

In [65]:
df.to_csv('house_data')

In [46]:
df

,price,type,address,postcode,number_bedrooms
0,320000.0,2 bedroom detached bungalow for sale,"Harmers Hay Road, Hailsham",BN27,2.0
3,7500000.0,9 bedroom detached house for sale,"Marley Common, Haslemere, Surrey, GU27",GU27,9.0
4,6500000.0,10 bedroom detached house for sale,"Selham, Petworth, West Sussex, GU28",GU28,10.0
5,5950000.0,9 bedroom detached house for sale,"Pickwell Lane, Bolney, Haywards Heath, West Su...",RH17,9.0
7,5950000.0,9 bedroom detached house for sale,"Pickwell Lane, Bolney, Haywards Heath, West Su...",RH17,9.0
...,...,...,...,...,...
1045,850000.0,5 bedroom barn conversion for sale,"Merston, Chichester, West Sussex, PO20",PO20,5.0
1046,850000.0,3 bedroom character property for sale,"St. Marys Road, Shoreham-By-Sea",NaN,3.0
1047,850000.0,5 bedroom detached bungalow for sale,"Glynleigh Road, Hankham, Pevensey",NaN,5.0
1048,850000.0,4 bedroom house for sale,"Guildford Road, Loxwood, Billingshurst",NaN,4.0
1049,850000.0,5 bedroom detached house for sale,"Peace & Plenty, Playden, Rye, East Sussex TN31...",TN31,5.0

In [ ]:
len(df)

In [ ]:
df.describe()

In [ ]:
df.type.unique()