In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car_data')

In [3]:
df.head()

,Unnamed: 0,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
0,0,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
1,1,Hyundai,£890,NaN,2007,Hatchback,"55,083 miles",1.1L,62BHP,Manual,Petrol
2,2,Peugeot,"£1,000",NaN,2004,Hatchback,"104,500 miles",1.4L,88BHP,Manual,Petrol
3,3,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
4,4,Vauxhall,"£1,500",NaN,\n\nCAT\n\n\nWrite-off,2010 (10 reg),Hatchback,"94,000 miles",1.2L,84BHP,Manual

In [4]:
df.Fuel.unique()

array(['Petrol', 'Manual', 'Diesel'], dtype=object)

In [5]:
df.head(50)

,Unnamed: 0,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
0,0,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
1,1,Hyundai,£890,NaN,2007,Hatchback,"55,083 miles",1.1L,62BHP,Manual,Petrol
2,2,Peugeot,"£1,000",NaN,2004,Hatchback,"104,500 miles",1.4L,88BHP,Manual,Petrol
3,3,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
4,4,Vauxhall,"£1,500",NaN,\n\nCAT\n\n\nWrite-off,2010 (10 reg),Hatchback,"94,000 miles",1.2L,84BHP,Manual
5,5,Volkswagen,£650,NaN,2001,Saloon,"92,308 miles",2.0L,115BHP,Manual,Petrol
6,6,Vauxhall,£500,NaN,2006,MPV,"152,990 miles",1.6L,103BHP,Manual,Petrol
7,7,Saab,"£1,795",Lower price,2009,Saloon,"135,000 miles",1.9L,178BHP,Manual,Diesel
8,8,Toyota,"£1,000",NaN,1999,Coupe,"104,500 miles",1.8L,114BHP,Manual,Petrol
9,9,Volkswagen,"£1,958",NaN,2006,Hatchback,"65,290 miles",1.4L,74BHP,Manual,Petrol
10,10,Peugeot,£850,NaN,2005,Hatchback,"61,000 miles",1.1L,60BHP,Manual,Petrol
11,11,Mercedes-Benz,"£19,850",Higher price,2015,SUV,"49,410 miles",2.1L,168BHP,Automatic,Diesel
12,12,Hyundai,"£5,993",Good price,2017,Hatchback,"26,921 miles",1.0L,66PS,Manual,Petrol
13,13,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
14,14,Hyundai,£890,NaN,2007,Hatchback,"55,083 miles",1.1L,62BHP,Manual,Petrol
15,15,Peugeot,"£1,000",NaN,2004,Hatchback,"104,500 miles",1.4L,88BHP,Manual,Petrol
16,16,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
17,17,Vauxhall,"£1,500",NaN,\n\nCAT\n\n\nWrite-off,2010 (10 reg),Hatchback,"94,000 miles",1.2L,84BHP,Manual
18,18,Volkswagen,£650,NaN,2001,Saloon,"92,308 miles",2.0L,115BHP,Manual,Petrol
19,19,Vauxhall,£500,NaN,2006,MPV,"152,990 miles",1.6L,103BHP,Manual,Petrol
20,20,Saab,"£1,795",Lower price,2009,Saloon,"135,000 miles",1.9L,178BHP,Manual,Diesel
21,21,Toyota,"£1,000",NaN,1999,Coupe,"104,500 miles",1.8L,114BHP,Manual,Petrol
22,22,Volkswagen,"£1,958",NaN,2006,Hatchback,"65,290 miles",1.4L,74BHP,Manual,Petrol
23,23,Peugeot,£850,NaN,2005,Hatchback,"61,000 miles",1.1L,60BHP,Manual,Petrol
24,24,Mercedes-Benz,"£19,850",Higher price,2015,SUV,"49,410 miles",2.1L,168BHP,Automatic,Diesel
25,25,Hyundai,"£5,993",Good price,2017,Hatchback,"26,921 miles",1.0L,66PS,Manual,Petrol
26,26,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
27,27,Hyundai,£890,NaN,2007,Hatchback,"55,083 miles",1.1L,62BHP,Manual,Petrol
28,28,Peugeot,"£1,000",NaN,2004,Hatchback,"104,500 miles",1.4L,88BHP,Manual,Petrol
29,29,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
30,30,Vauxhall,"£1,500",NaN,\n\nCAT\n\n\nWrite-off,2010 (10 reg),Hatchback,"94,000 miles",1.2L,84BHP,Manual
31,31,Volkswagen,£650,NaN,2001,Saloon,"92,308 miles",2.0L,115BHP,Manual,Petrol
32,32,Vauxhall,£500,NaN,2006,MPV,"152,990 miles",1.6L,103BHP,Manual,Petrol
33,33,Saab,"£1,795",Lower price,2009,Saloon,"135,000 miles",1.9L,178BHP,Manual,Diesel
34,34,Toyota,"£1,000",NaN,1999,Coupe,"104,500 miles",1.8L,114BHP,Manual,Petrol
35,35,Volkswagen,"£1,958",NaN,2006,Hatchback,"65,290 miles",1.4L,74BHP,Manual,Petrol
36,36,Peugeot,£850,NaN,2005,Hatchback,"61,000 miles",1.1L,60BHP,Manual,Petrol
37,37,Mercedes-Benz,"£19,850",Higher price,2015,SUV,"49,410 miles",2.1L,168BHP,Automatic,Diesel
38,38,Hyundai,"£5,993",Good price,2017,Hatchback,"26,921 miles",1.0L,66PS,Manual,Petrol
39,39,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
40,40,Hyundai,£890,NaN,2007,Hatchback,"55,083 miles",1.1L,62BHP,Manual,Petrol
41,41,Peugeot,"£1,000",NaN,2004,Hatchback,"104,500 miles",1.4L,88BHP,Manual,Petrol
42,42,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
43,43,Vauxhall,"£1,500",NaN,\n\nCAT\n\n\nWrite-off,2010 (10 reg),Hatchback,"94,000 miles",1.2L,84BHP,Manual
44,44,Volkswagen,£650,NaN,2001,Saloon,"92,308 miles",2.0L,115BHP,Manual,Petrol
45,45,Vauxhall,£500,NaN,2006,MPV,"152,990 miles",1.6L,103BHP,Manual,Petrol
46,46,Saab,"£1,795",Lower price,2009,Saloon,"135,000 miles",1.9L,178BHP,Manual,Diesel
47,47,Toyota,"£1,000",NaN,1999,Coupe,"104,500 miles",1.8L,114BHP,Manual,Petrol
48,48,Volkswagen,"£1,958",NaN,2006,Hatchback,"65,290 miles",1.4L,74BHP,Manual,Petrol
49,49,Peugeot,£850,NaN,2005,Hatchback,"61,000 miles",1.1L,60BHP,Manual,Petrol

In [6]:
df[df.Fuel == 'Manual'].Year.unique()

array(['\n\nCAT\n\n\nWrite-off'], dtype=object)

The only cars with the wrong entries are written off, let's remove them

In [7]:
df = df[df.Fuel != 'Manual']

In [8]:
df.reset_index(drop=True)
df.head()

,Unnamed: 0,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
0,0,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
1,1,Hyundai,£890,NaN,2007,Hatchback,"55,083 miles",1.1L,62BHP,Manual,Petrol
2,2,Peugeot,"£1,000",NaN,2004,Hatchback,"104,500 miles",1.4L,88BHP,Manual,Petrol
3,3,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
5,5,Volkswagen,£650,NaN,2001,Saloon,"92,308 miles",2.0L,115BHP,Manual,Petrol

In [9]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
0,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
1,Hyundai,£890,NaN,2007,Hatchback,"55,083 miles",1.1L,62BHP,Manual,Petrol
2,Peugeot,"£1,000",NaN,2004,Hatchback,"104,500 miles",1.4L,88BHP,Manual,Petrol
3,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
5,Volkswagen,£650,NaN,2001,Saloon,"92,308 miles",2.0L,115BHP,Manual,Petrol

In [10]:
df['Rating'].unique()

array(['Good price', nan, 'Great price', 'Lower price', 'Higher price'],
      dtype=object)

In [11]:
df[df.Rating == 'Great price']

,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
3,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
16,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
29,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
42,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
55,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
...,...,...,...,...,...,...,...,...,...,...
115248,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
115261,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
115274,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
115287,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
115300,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol

In [12]:
df[df.Rating == 'Great price'].drop_duplicates()

,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
3,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol

In [13]:
df[df.Rating == 'Good price'].drop_duplicates()

,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
0,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
12,Hyundai,"£5,993",Good price,2017,Hatchback,"26,921 miles",1.0L,66PS,Manual,Petrol

In [14]:
df[df.Rating == 'Lower price'].drop_duplicates()

,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
7,Saab,"£1,795",Lower price,2009,Saloon,"135,000 miles",1.9L,178BHP,Manual,Diesel

In [15]:
df[df.Rating == 'Higher price'].drop_duplicates()

,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
11,Mercedes-Benz,"£19,850",Higher price,2015,SUV,"49,410 miles",2.1L,168BHP,Automatic,Diesel

Looks like the once with a 'rating' were ads of some sort, let's get rid of the duplicates

In [16]:
df = df.drop_duplicates()

In [17]:
df

,makes,Price,Rating,Year,Type,Miles,Litres,BHP,Transmission,Fuel
0,Ford,"£6,922",Good price,2016,Hatchback,"28,122 miles",1.25L,81BHP,Manual,Petrol
1,Hyundai,£890,NaN,2007,Hatchback,"55,083 miles",1.1L,62BHP,Manual,Petrol
2,Peugeot,"£1,000",NaN,2004,Hatchback,"104,500 miles",1.4L,88BHP,Manual,Petrol
3,Vauxhall,"£2,000",Great price,2009,Hatchback,"131,500 miles",1.6L,115PS,Manual,Petrol
5,Volkswagen,£650,NaN,2001,Saloon,"92,308 miles",2.0L,115BHP,Manual,Petrol
6,Vauxhall,£500,NaN,2006,MPV,"152,990 miles",1.6L,103BHP,Manual,Petrol
7,Saab,"£1,795",Lower price,2009,Saloon,"135,000 miles",1.9L,178BHP,Manual,Diesel
8,Toyota,"£1,000",NaN,1999,Coupe,"104,500 miles",1.8L,114BHP,Manual,Petrol
9,Volkswagen,"£1,958",NaN,2006,Hatchback,"65,290 miles",1.4L,74BHP,Manual,Petrol
10,Peugeot,£850,NaN,2005,Hatchback,"61,000 miles",1.1L,60BHP,Manual,Petrol
11,Mercedes-Benz,"£19,850",Higher price,2015,SUV,"49,410 miles",2.1L,168BHP,Automatic,Diesel
12,Hyundai,"£5,993",Good price,2017,Hatchback,"26,921 miles",1.0L,66PS,Manual,Petrol